#div1{
    margin: 4px;
    height:200px;
    width:50%;
    min-width: 180px; 
    max-width: 250px;
    background-color: cyan;
    border: 2px solid black;
    padding:2px;
    box-sizing:border-box;

    /* overflow:scroll; visible or hidden*/
    overflow:auto;
}